.movie-details {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    margin-top: 50px;
    max-width: 800px;
    background: #fff;
}

.movie-details img {
    width: 200px;
    height: auto;
}

.movie-details__info {
    list-style: none;
    margin: 0;
    flex: 1 1;
    padding: 0 30px;
}

.movie-details__info h3 {
    padding: 20px 0 5px;
    font-size: 30px;
    margin: 0;
    color: #013058;
}

.movie-details__info li {
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.movie-details__info li p {
    margin: 0;
}

.movie-details__info li label {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.movie-details__info li.movie-details__overview {
    text-align: justify;
}

.movie-details__info li.movie-details__rating p {
    color: $buddha-gold;
}

@media (max-width: 600px) {
    .movie-details {
        flex-direction: column;
    }

    .movie-details img {
        margin: 20px auto 0;
    }
}