.suggest-list {
    display: none;
    position: absolute;
    background: #fff;
    top: auto;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 5px 5px;
    left: 28px;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    right: 28px;

    &.visible {
        display: block;
    }

    &__msg {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        font-weight: bold;
        color: #666;

        img {
            height: 30px;
            margin-right: 7px;
        }
    }
}